img{
    width: 50%;
    height: 50%;
    margin-left: 25%;
    border: 5px solid lightblue;
}

p{
    text-align: center;
    width:50%;
    margin-left: 25%;
    
}

h1{
    text-align: center;

}
 body{
    background-color: rgb(177, 236, 218);
 }